node_modules
.codesandbox/workspace.json
.DS_Store
node_modules
/dist
.mf

# local env files
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor directories and files
.idea
.vscode/launch.json
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

commit.sh
yarn.lock
launch-serve
wrangler-serve
commit.json
src/config/commit.json
sanity-conf.json
auth0-conf.json
_sensitive_datas/_sensitive_datas.tar.xz
_sensitive_datas/_sensitive_datas.tar
.vscode/settings.json
.vscode/launch.json
launch-dist
launch-test-list
jwks.json
launch-test-put
typo/Neutraface.backup
tripadvisor/.env
src/config/cosmos-db-config.json
src/plugins/sanity/schema.ts
l*.pem
l*.key
l*.srl
l*.csr
src/config/instagram.json
src/config/node-version.json
.wrangler/state/kv/KV_TOKENS
launch-worker
crowdin.yml
src/config/bookandglide.json
versions.json
src/config/cloudinary-conf.json
functions/common/config/whitelisteConf.json
windows/*.dll
windows/*.zip
windows/*.exe
windows/*.cnf
functions/common/config/instagram.json
functions/common/config/mail.json
src/*config.json
src/config/siteConf.json
functions/common/config/up2pay.json
src/config/up2pay.json
.wrangler
wrangler.toml
